.carrinho-container {
  padding: 0 3rem;
  margin-top: 160px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Poppins', sans-serif;
}

.carrinho {
  width: 100%;
  max-width: 1200px;

  display: flex;
  gap: 40px;


}

.compras-content {
  width: 100%;
  max-width: 840px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &>div {
    border: 1px solid #DCDCDC;
    border-radius: 10px;
  }


  .compra-header {
    padding: 20px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    margin-bottom: 10px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      text-decoration: none;
      color: black;
    }
  }

}

.compra {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px 20px;
  flex-wrap: wrap;

  .product {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 280px;

    >img {
      margin-right: 46px;
    }

    .details {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 190px;

      .name {
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
      }

      .tamanho {
        font-size: 9px;
        font-weight: 300;
        line-height: 14px;
      }
    }
  }



  .unidade {
    display: flex;
    gap: 8px;

    span,
    button {
      width: 33px;
      height: 33px;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;


      font-weight: 700;
    }

    span {
      border: 1px solid #DCDCDC;
      font-size: 14px;
    }

    button {
      border: none;
      background: #EDEDED;
      font-size: 16px;

      cursor: pointer;
    }
  }

  .valor {
    display: flex;
    margin-left: auto;
    min-width: 280px;
    justify-content: flex-end;

    .valor-item {
      display: flex;
      flex-direction: column;
      padding: 10px 25px;

      margin-right: 10px;

      border-right: 1px dashed black;
    }

    .valor-total {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
    }

    .price-title {
      font-size: 10px;
    }

    .price {
      font-weight: 700;
    }

  }

  .excluir {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }
}

.resumo-pedido {
  width: 100%;
  max-width: 400px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;


  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .frete-consulta,
  .total-pedido {
    background: #F8F8F8;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 30px;
  }

  .input-content {
    width: 100%;

    form {
      width: 100%;
    }

    input {
      width: 100%;
      height: 54px;
      padding: 15px;
      background: white;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      margin-bottom: 10px;

      &::placeholder {
        font-weight: 700;
        color: black;
      }

    }

    button {
      height: 54px;
      width: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      border: 1px solid black;
      cursor: pointer;
      font-size: 14px;

      font-weight: 700;

      &:hover {
        filter: brightness(.9);
      }

    }
  }

  .sub-total,
  .total {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dashed black;

    span {
      font-size: 14px;
    }

    .price {
      font-weight: 700;
    }
  }

  .finalizar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;

    background: #00B86B;
    border: none;
    border-radius: 10px;
    font-size: 14;
    font-weight: 700;

    cursor: pointer;

    span {
      font-size: 14px;
    }

    &:hover {
      filter: brightness(.9);
    }
  }

}

@media (max-width: 1100px) {

  .carrinho {
    flex-direction: column;

    .compras-content {
      max-width: 100%;
    }

    .resumo-pedido {
      max-width: 100%;
    }
  }

  .compra {
    // flex-direction: column;
    gap: 40px;
    // align-items: start;

    .product {
      >img {
        margin-right: 20px;
      }
    }

    .valor {
      margin-left: 0;
      flex: 1;


    }

  }
}