footer {
  padding: 0 3rem;
  margin-top: 80px;
}

.footer {
  padding: 2rem 0;
  margin-top: 10rem;
  display: flex;

  border-top: 1px solid black;
  border-bottom: 1px solid black;



  .title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  a,
  span {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: black;
    text-decoration: none;
    display: block;
    position: relative;
    transition: all 200ms ease;


  }

  p {
    display: inline;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      background-color: #000;
      height: 1px;
      width: 0;
      bottom: 0px;
      left: 0;
      transition: all 200ms ease;

    }
  }

  a:hover p:before {
    width: 100%;
  }
}

.footer-details {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &>div {
    display: flex;
    flex-direction: column;

  }


}

.newsletter {
  padding-left: 50px;
  margin-left: 50px;
  border-left: 1px solid black;


  input {
    display: block;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    display: block;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    background: #000;
    color: white;
    cursor: pointer;
  }

  .social {
    margin-top: 10px;
    display: flex;
    gap: 10px;

  }
}

.pagamentos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  gap: 10px;

  .title {
    margin-bottom: 20px;
  }

  // .certificado {
  //   // width: 100%;
  // }

  .formas,
  .seguranca {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.tray {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  margin-top: 20px;
  padding-bottom: 20px;

  span {
    font-weight: 300;
    font-size: 13px;
  }
}

@media (max-width: 740px) {

  .footer {
    flex-direction: column;
    margin: 0 auto;

    .newsletter {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;

      padding-top: 50px;
      margin-top: 50px;
      border-top: 1px solid black;
    }
  }
}

@media (max-width: 550px) {
  .footer-details {
    flex-direction: column;
    margin: 0 auto;
  }
}